<div class="cast-body">
    <div class="container">
        <h2>클럽 소개</h2>
        <% @clubs.each do |i| %>
            대표 : <%= i.clubUser %><br>
            이름 : <%= i.clubTitle %><br>
            소개 : <%= i.clubContent %><br>
            종목 : <%= i.clubGame %><br>
            지역 : <%= i.clubRegion %><br>
            <%= link_to '보기', club_path(i.id) %> 
            <hr>
            
        <% end %>
        <hr>

        <% if user_signed_in? %>
            <%= link_to '새 글쓰기' , clubs_new_path  %><br>
        <% else %>    
            클럽을 만들거나 가입하려면 로그인을 해주세요.<br>
        <% end %>
        <%= link_to 'Home', '/' %>
    
    </div>
</div>

