<h2>클럽 추가하기</h2>
<a href="/">Home으로 돌아가기</a><hr>

<%= form_tag(clubs_path, method: 'post') do %>

    Club 이름 : 
    <%= text_field_tag(:clubTitle) %><br>
    
    Club 소개 :
    <%= text_field_tag(:clubContent) %><br>
    
    Club 종목 : 
    <%= select_tag(:clubGame, options_for_select([
        ['볼링'], ['탁구'], ['농구'], ['야구'], ['요가'], ['수영'], ['서핑']
    ])) %><br>
    
    Club 지역 :
    <%= select_tag(:clubRegion, options_for_select([
        ['강남구'], ['강동구'], ['강북구'], ['강서구'], ['관악구'],
        ['광진구'], ['구로구'], ['금천구'], ['노원구'], ['도봉구'],
        ['동대문구'], ['동작구'], ['마포구'], ['서대문구'], ['서초구'],
        ['성동구'], ['성북구'], ['송파구'], ['양천구'], ['영등포구'],
        ['용산구'], ['은평구'], ['종로구'], ['중구'], ['중랑구']
    ])) %><br>

    <%= submit_tag('클럽 추가') %>
<% end %>
<hr>


