<div class="cast-body club-body">
    <div class="container">
        <%#= @club.id %>
        
        <h1><%= @club.clubTitle %></h1> <br>
        <h5><%= @club.clubGame %></h5>
        <h5><%= @club.clubRegion %></h5>
        <hr>
        <h5>대표: <%= @club.clubUser %></h5>
        <h5>설명: <%= @club.clubContent %></h5>
        <hr>
        
        <h5>대표 이미지</h5>
        <%= image_tag @club.club_image_url.url %>
    
        <br>
        <hr>
        
        
        <!--<%#= form_tag("/clubs/#{@club.id}/apply", method: 'post') do %>-->
        <!--    <%#= submit_tag('가입하기') %>-->
        <!--<%# end %>-->
        <%= form_tag("/clubs/#{@club.id}/apply/#{@club.user_id}", method: 'post') do %>
            <h4>* 클럽장에게 자신을 소개하세요.</h4>
            <%= text_area_tag(:clubApply, nil ,cols: 70, rows: 10, placeholder: "이름 / 성별 / 나이 / 자기소개 등을 통해서 클럽대표에게 보내주세요!") %><br>
            <%= submit_tag('가입요청') %>
        <% end %>
        
        <!--text_area(:application, :notes, cols: 40, rows: 15, class: 'app_input')-->

        <hr>
        
        <h4>클럽 회원들</h4>
        <% @club.users.each do |p| %>
          <%= p.email %>
        <% end %>
        
        <hr>
        
        <%= link_to '수정', edit_club_path(@club.id) %> / 
        <%= link_to '삭제', club_path(@club.id) , method: 'delete', data: {confirm: "정말 삭제하실 건가요?"} %> 
        <br>
        <%= link_to "Back", '/clubs' %>
                    
    </div>
</div>



<hr>

<%#= @club.clubUser %>



<!--<a id="btn-apply" class="btn btn-secondary apply-status-none btn-complete ml-2 ml-md-3 ml-lg-4" data-remote="true" rel="nofollow" data-method="post" href="/clubs/3/applies">-->
<!--    <i id="apply-status" class="fa fa-pencil-square-o" aria-hidden="true"></i>&emsp;<span id="apply-status-text">가입 요청</span>-->
<!--</a>-->




