
<div class="markerImg">
    <img src="<%= image_url('all.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchAll">
    <img src="<%= image_url('basketball.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchBasketball">
    <img src="<%= image_url('pingpong.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchPingpong">
    <img src="<%= image_url('bowling.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchBowling">
    <img src="<%= image_url('surfing.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchSurfing">
    <img src="<%= image_url('yoga.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchYoga">
    <img src="<%= image_url('baseball.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchBaseball">
    <img src="<%= image_url('swimming.png') %>" class="img-rounded" alt="Cinque Terre" height="90" id="searchSwimming">
    <br><br><p>위 마커를 누르면 종목별로 보실 수 있습니다.</p>
</div>

<hr>

<div id="map">
  <% @storeInfo.each do |i| %>
  
    <div id="act<%= i.id %>" class="overlay">
    	<div class="popup">
    		<h2><%= i.infoTitle %>
    		  <span id="starrate" style="color: #fff; font-size: 1.8rem;"><%= rating_for i, 'average', disable_after_rate: true, imdb_avg: true %></span>
    		</h2>
            <%#= imdb_style_rating_for i, "average" , disable_after_rate: true, imdb_avg: true %>
        <br>평점을 매긴 수 : <%= i.rates("average").count %>
    		<a class="close" href="##<%#= i.id%>">&times;</a>
    		
    		<div class="content">
    		  
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#info<%= i.id%>" aria-controls="info" role="tab" data-toggle="tab">INFO</a></li>
            <li role="presentation"><a href="#review<%= i.id%>" aria-controls="review" role="tab" data-toggle="tab">REVIEW</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="info<%= i.id%>">
              <div class="slide-section">
                
                <% i.info_attachments.each do |p| %>
                  <div class="slide-img">
                    <span class="modalimage<%= p.id %>"><img src="<%= p.upcast.thumb2.url%>"></span>
                  </div>
                <% end %>
                
              </div>
              
              <div class="slider-controls">
                <span class="prev"><img src="<%= image_url('leftbutton.png') %>"></span>
                <span class="next"><img src="<%= image_url('rightbutton.png') %>"></span>
              </div>   
               
              <hr>
              <div class="well" align="center">
                <%= i.address %> | <%= i.game %> <br>
                <%= i.content %>
                
              </div>
              
              <div class="shows">
                <div class="overlays"></div>
                <div class="img-show">
                  <span></span>
                  <img src="">
                </div>
              </div>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="review<%= i.id%>">
              <%= render 'home/showreview' %>
              
              <div class="shows">
                <div class="overlays"></div>
                <div class="review-show">
                  리뷰쓰기!!
                </div>
              </div>
              
            </div>
            
            
          </div>
        </div>
    	</div>
    </div>
  <% end %>
</div>
   
 
<script>
    var seoulCenter = new naver.maps.LatLng(37.5665350, 126.9779690); //서울 시청 좌표값(서울 한가운데)
// 지도 기본 위치
    var map = new naver.maps.Map('map', {
        center: seoulCenter,
        zoom: 6,
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        mapTypeControl: true,
        zoomControl: true,
        minZoom: 1,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        }
    });
    
    // GPS 이미지 파일 넣는 곳
    var locationBtnHtml = '<img src="<%= image_url('gps.png') %>" class="gpsImg" onclick="getLocation()">';
    var customControl = new naver.maps.CustomControl(locationBtnHtml, {
        position: naver.maps.Position.TOP_LEFT,
        zIndex: 1
    });
    customControl.setMap(map);
    
//마커
    var games = new Array();
    var marker = new Array();
    var contentString = new Array();
    var infowindow = new Array();
   
    <% @storeInfo.each do |i| %>
        games[<%= i.id %>] = new naver.maps.LatLng(<%= i.location_lat %>, <%= i.location_lng %>);
        
        var markerOptions = {
            position: games[<%= i.id %>],
            map: map,
            zIndex: 1,
            icon: {
                //마커 url, 마커 이미지 url
                <% if i.game == '볼링' %>
                    url: '<%= image_url("bowling.png") %>', 
                <% elsif i.game == '탁구' %>  
                    url: '<%= image_url("pingpong.png") %>', 
                <% elsif i.game == '야구' %>
                    url: '<%= image_url("baseball.png") %>',
                <% elsif i.game == '요가' %>
                    url: '<%= image_url("yoga.png") %>', 
                <% elsif i.game == '수영' %>
                    url: '<%= image_url("swimming.png") %>', 
                <% elsif i.game == '농구' %>
                    url: '<%= image_url("basketball.png") %>', 
                <% elsif i.game == '서핑' %>
                    url: '<%= image_url("surfing.png") %>', 
                <% end %>
                size: new naver.maps.Size(30,38),// 마커 사이즈
                scaledSize: new naver.maps.Size(30,38),
                origin: new naver.maps.Point(0, 0), // origin 기본값 (0, 0)
                anchor: new naver.maps.Point(15, 35) // anchor속성은 이미지의 중앙 하단 포인터를 기본값으로 설정
                
            }     
        };
        
        marker[<%= i.id %>] = new naver.maps.Marker(markerOptions);

        // 마커 안에 정보 넣기 
        // db에 있는 정보 불러내기 아직 구현 못함
        contentString[<%= i.id %>] = [
            '<div class="iw_inner">',
            '    <%= image_tag i.info_image_url.thumb1.url, class: "infoImage img-rounded" %><br>',
            '    <div class="inforate"><span class="controlsize"><%= i.infoTitle %></span><span class="jump">""</span><span id="starrate" style="color: #fff; font-size: 1.8rem;"><%= rating_for i, 'average', disable_after_rate: true, imdb_avg: true %></span></div>',
            '    <p><%= i.region %> | <%= i.address %><br>',
            '        <%= i.game %> &gt; <%= i.city %><br>',
            '   </p>',
            '   <a class="btn btn-primary" href="#act<%= i.id %>">상세보기</a>',
            '</div>'
        ].join('');
        
        infowindow[<%= i.id %>] = new naver.maps.InfoWindow({
            content: contentString[<%= i.id %>]
        });
    
        naver.maps.Event.addListener(marker[<%= i.id %>], "click", function(e) {
            if (infowindow[<%= i.id %>].getMap()) {
                infowindow[<%= i.id %>].close();
            } else {
                infowindow[<%= i.id %>].open(map, marker[<%= i.id %>]);
                //map.setCenter(games[<%#= i.id %>]);
            }
        });
       
       //search game 
        $( "#searchAll" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            marker[<%= i.id %>].setMap(map);
        });
       
        $( "#searchBowling" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @bowling.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchBaseball" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @baseball.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchBasketball" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @basketball.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchPingpong" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @pingpong.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchSwimming" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @swimming.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchSurfing" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @surfing.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
        $( "#searchYoga" ).click(function() {
            marker[<%= i.id %>].setMap(null);
            <% @yoga.each do |e| %>
                marker[<%= e.id %>].setMap(map);   
            <% end %>
        });
        
    <% end %>
 
// GPS이용하기
    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다  x
    function getLocation() {
        if (navigator.geolocation) {
            
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                
                var locPosition = new naver.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                
                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition, message);   
            
            });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
        
            var locPosition = seoulCenter,    
                message = 'geolocation을 사용할수 없어요'
                
            displayMarker(locPosition, message);
        }
    }
    
    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition, message) {
    
        // 마커를 생성합니다
        var gpsMarker = new naver.maps.Marker({  
            map: map, 
            position: locPosition,
            icon: {
                url: '<%= image_url("gpsMarker.png") %>',
                size: new naver.maps.Size(25, 34),
                scaledSize: new naver.maps.Size(25, 34),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(12, 34)
            }
        }); 
        
        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;
            
        // 인포윈도우를 생성합니다
        var geoinfowindow = new naver.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        
        // 인포윈도우를 마커위에 표시합니다
        geoinfowindow.open(map, gpsMarker);
        
        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition); 
        map.setZoom(8);
    }    
    
//댓글 작성
    $(function() { 
        $(".reply_submit").click(function() { 
            modalInfoId = this.value;
            modalComment = $("#comment_" + modalInfoId).val();
            modalName = $("#user_name").text();
            destroyId = $("#oneComment").val(); //<#%= c.id %>
            
            $.ajax({
              method: "POST",
              url: "/comment",
              data: { info_id: modalInfoId, comment: modalComment, userName: modalName},
                success: function() {
                    alert( "댓글이 작성되었습니다.");
                    $("#commentshow_" + modalInfoId).append(modalName +  " : " + modalComment + "<a href=/comment_destroy/" + destroyId + ">[댓글삭제]</a>");
                    $("#comment_" + modalInfoId).val('');
                },
                error: function() {
                    alert( "댓글이 작성되지 않았습니다. 로그인을 해주세요");
                } 
            })
        });
    });  

//사진 슬라이더
$(document).ready(function(){
  v = $('.slide-section .slide-img').length;
  i = 1;
  var left = 0;
  var mrg = 0;
  var ht = $('.slide-section .slide-img').css('width');
  //$('.slide-section .slide-img').css('height', ht);
  $('.next').click(function(){
         
    if(i<=(v-4)) {
      left = left - 25;
      mrg = 0;
    } else if(i > (v-4)) {
      left = 0;
      i = 0;
      mrg = 0;
    }
    
    $('.slide-section').css('margin-left','calc('+left+'% - '+mrg+'px)');
    i++;      
  });
  
  $('.prev').click(function(){
    if(i == 1) {
      left = -(v-4) * 25;
      mrg = (v-4) * 5;
      i = (v - 4) + 1;
    }else{
      left = left + 25;
      mrg = 0;
      i--;
    }
    
    $('.slide-section').css('margin-left','calc('+left+'% - '+mrg+'px)');
  });

});

// 이미지 모달 
$(function () {
    <% @storeInfo.each do |i| %>
      <% i.info_attachments.each do |p| %>
        $(".modalimage<%= p.id %> img").click(function () {
            var $src = $(this).attr("src");
            $(".shows").fadeIn();
            $(".img-show img").attr("src", $src);
        });
      <% end %>
    <% end %>
    
    $("spans, .overlays").click(function () {
        $(".shows").fadeOut();
    });
    
});

//리뷰쓰기 모달
$(function () {
    <% @storeInfo.each do |i| %>
     
        $("#write<%= i.id %>").click(function () {
            var $src = $(this).attr("src");
            $(".shows").fadeIn();
            $(".review-show").append('<p>리뷰쓰기</p>');
        });
      
    <% end %>
    
    $("spans, .overlays").click(function () {
        $(".shows").fadeOut();
    });
    
});

</script>

