<div class="container">
    <h1>Cast <a href="<%= casts_path %>" style="verticla-align:center; float: right; font-size: 0.8em; color: #999"> > More</a></h1>
    <br>
    <% @casts.sample(2).each do |k| %>
        <% k.cast_attachments.limit(1).each do |p| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <% if is_mobile_device? %>
                      <img class="clubpart-image-mobile" src="<%= image_url p.upcast.thumb2.url%>" alt="Card image">
                          <a href="<%= cast_path(k.id) %>">
                          <div class="card-img-overlay card-img-back">
                            <h4 class="card-title-back-mobile"><%= k.castTitle %></h4>
                    <% else %>
                      <img class="clubpart-image" src="<%= image_url p.upcast.thumb2.url%>" alt="Card image">
                          <a href="<%= cast_path(k.id) %>">
                          <div class="card-img-overlay card-img-back">
                              <h4 class="card-title-back"><%= k.castTitle %></h4>
                      <%#= link_to image_tag(k.club_image_url.url), club_path(k.id), class: 'card-img-responsive' %>
                    <% end %>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                          </div>
                          </a>
                </div>
            </div>
        <% end %>
    <% end %>
</div>