<div class="realmainNav">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top ">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to 'Act Now', root_path, id: 'logo',class: "navbar-brand page-scroll"%> 
      <!--<%#= link_to 'Activity-Search', root_path, class: 'navbar-brand' %>-->
    </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%#= link_to 'Admin Data','/infos', id: 'header_add', class: "page-scroll" %></li>-->
        <li><%= link_to 'Map','/#upactivity', id: 'header_add', class: "page-scroll"  %></li>
        <li><%= link_to 'Clubs', '/#upclub', id: 'header_add', class: "page-scroll"  %></li>
        <li><%= link_to 'Events', '/#upevent', id: 'header_add', class: "page-scroll" %></li>
        <li><%= link_to 'Casts', '/#upcast', id: 'header_add', class: "page-scroll"  %></li>
        <li>
          <% if user_signed_in? %>
            <a class="dropdown-toggle page-scroll" id="header_add" data-toggle= "dropdown">
              <span id="user_name"><%= current_user.email%></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Page', my_page_path(current_user.id) %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path %></li>
            </ul>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, id: 'header_add', class: "page-scroll"  %>
          <% end %>
        </li>
        
     </ul>
     </div>
    
  </div>

</nav>

</div>
