
<div class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Activity-Search', root_path, id: 'logo'%> <!--<%#= link_to 'Activity-Search', root_path, class: 'navbar-brand' %>-->
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to 'Admin Data','/admin/new_create', id: 'header_add' %></li>
        <li><%= link_to 'Events', '/', id: 'header_add'%></li>
        <li><%= link_to 'Casts', '/casts', id: 'header_add' %></li>
        <li><%= link_to '소모임', '/', id: 'header_add' %></li>
        <li><%= link_to 'Log in', new_user_session_path, id: 'header_add' %></li>
        
     </ul>
    </nav>
  </div>
</div>

