<div class="realmainNav">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top ">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to 'Activity-Search', root_path, id: 'logo',class: "navbar-brand page-scroll"%> 
      <!--<%#= link_to 'Activity-Search', root_path, class: 'navbar-brand' %>-->
    </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Admin Data','/admin/new_create', id: 'header_add', class: "page-scroll" %></li>
        <li><%= link_to 'Map','#', id: 'header_add', class: "page-scroll"  %></li>
        <li><%= link_to 'Clubs', '/clubs', id: 'header_add', class: "page-scroll"  %></li>
        <li><%= link_to 'Events', '#', id: 'header_add', class: "page-scroll" %></li>
        <li><%= link_to 'Casts', '/casts', id: 'header_add', class: "page-scroll"  %></li>
        <li><%= link_to 'Log in', new_user_session_path, id: 'header_add', class: "page-scroll"  %></li>
        
     </ul>
     </div>
    
  </div>

</nav>

</div>
