<!--<header>-->
<div class="main_header">
    <%= render 'home/slideshow' %>
</div>
<!--</header>-->


    <!-- 지도 섹션-->
<div class="upactivity_background">
    <section id="upactivity">
        <%= render 'home/activity' %>
    </section>
    
</div>

    <!-- 소모임(고객참여게시판) 섹션-->
<div class="upclub_background">
    <section id="upclub">
            <%= render 'home/clubpart' %>
            <%= link_to 'More clubs', '/clubs', :style => 'float: right; font-size: 1.3em;'%><br>
    </section>
</div>

    <!-- 이벤트 게시판 -->
<div class="upevent_background">
    <div class="container">
        <section id="upevent">
        <h1>Event</h1><br>
        <div class="row" style="z-index: 1;">
            <% @events.sample(4).each do |k| %>
                <div class="section-cast col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="card" >
                        <% k.event_attachments.limit(1).each do |p| %>
                          <%#= image_tag p.upcast.thumb2.url %>
                          <%= link_to image_tag(p.upevent.thumb2.url), event_path(k.id), class: 'cast_each' %>
                          <br>
                        <% end %>
                        
                        <div class="card-block">
                          <h4 class="card-title"><%= k.eventTitle %></h4>
                          <p class="card-text"><%#= k.castContent %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <br>
        <%= link_to 'More events', '/events', :style => 'float: right; font-size: 1.3em;'%><br>
        </section>
    </div> 
</div>    
    
<div class="container">            
    <!-- 캐스트 섹션 -->
    <section id="upcast">
        <!--<hr>-->
        <h1>Cast</h1><br>
        <div class="row" style="z-index: 1;">
            <% @casts.sample(4).each do |k| %>
                <div class="section-cast col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="card" >
                        <% k.cast_attachments.limit(1).each do |p| %>
                          <%#= image_tag p.upcast.thumb2.url %>
                          <%= link_to image_tag(p.upcast.thumb2.url), cast_path(k.id), class: 'cast_each' %>
                          <br>
                        <% end %>
                        
                        <div class="card-block">
                          <h4 class="card-title"><%= k.castTitle %></h4>
                          <p class="card-text"><%#= k.castContent %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <br>
        <%= link_to 'More casts', '/casts', :style => 'float: right; font-size: 1.3em;'%><br>
 
    </section>
</div>

<!-- likelion -->
<footer>
    <hr>
    <h3>Made by Gil-hyeon & Sang-min</h3>
    <p>Copyright &copy; Likelion 2017</p>
</footer>

<div class="scroll" style="display:none;">
    <a href="#pagetop" style="text-decoration:none;"><img src="<%= image_url('top.png') %>"></a>
</div>

<script>
    $(document).ready(function(){
    	$('a[href^="/#up"]').on('click',function (e) {
    	    e.preventDefault();
    	    
    	    var target = this.hash;
    	    var $target = $(target);
    
    	    $('html, body').stop().animate({
    	        scrollTop: $target.offset().top
    	    }, 700);
    	});
    });
 
    $(window).scroll(function() {
      $(".scroll").css( "display", "inline");
    });
    $(".scroll").click(function() {
        $('html,body').animate({
            scrollTop: 0 }, 700);
    });
</script>
