<!--<h1 align="center">엑서(Activity Search)</h1>-->

<!-- 네비바 -->
    

<!-- 관리자 페이지로 이동 -->
<!--<hr>-->
<!--<a href="/admin/new_create">데이터 추가하기 - admin만 접근 가능</a>-->

<!-- 영상 제작 -->
<header>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    <h2> 오늘 뭐 하지? </h2>
    <br>
    <img src="<%= image_url('basketball.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    <img src="<%= image_url('pingpong.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    <img src="<%= image_url('bowling.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    <img src="<%= image_url('yoga.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    <img src="<%= image_url('baseball.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    <img src="<%= image_url('swimming.png') %>" class="img-rounded" alt="Cinque Terre"  height="100">
    
    <p>로그인을 하면 더 많은 서비스를 이용할 수 있습니다.</p> 
</header>

<div class="container">
    <!-- 지도 섹션-->
    <section id="activity">
        <hr>
        <%= form_tag('/find', method: 'get') do %>
        
            종목 : 
            <%= select_tag(:game, options_for_select([
            ['볼링'], ['탁구'], ['골프'], ['야구'], ['요가']
            ])) %>
            
            지역 :
            <%= select_tag(:region, options_for_select([
            ['강남구'], ['강동구'], ['강북구'], ['강서구'], ['관악구'],
            ['광진구'], ['구로구'], ['금천구'], ['노원구'], ['도봉구'],
            ['동대문구'], ['동작구'], ['마포구'], ['서대문구'], ['서초구'],
            ['성동구'], ['성북구'], ['송파구'], ['양천구'], ['영등포구'],
            ['용산구'], ['은평구'], ['종로구'], ['중구'], ['중랑구']
            ])) %>
            
            <%= submit_tag('찾기') %>
        
        <% end %>
        
        <div class="search">
                <input id="address" type="text" placeholder="검색할 주소">
                <input id="submit" type="button" value="주소 검색">
        </div>
        
        <div id="map"></div>
    </section>
    
    <!-- 이벤트 섹션-->
    <section id="event">
        <hr>
        여러가지 이벤트
    </section>
    
    <!-- 소모임(고객참여게시판) 섹션-->
    <section id="client">
        <hr>
        고객이 직접 Activity를 추가할 수 있습니다.<br>
        <a href="#">추가하러가기</a>
    </section>
    
    <!-- 이벤트 게시판 -->
    <section id="event">
        <hr>
        다양한 event를 찾아보세요~!.<br>
        <a href="#">보러가기</a>
    </section>
    
    
    
    <!-- 캐스트 섹션 -->
    <section id="cast">
        <hr>
        <h1>Casts</h1>
        
        <% @casts.sample(4).each do |k| %>
            <!--<div class="cast_each">-->
                <%= link_to image_tag(k.cast_image_url.thumb.url), cast_path(k.id), class: 'cast_each' %>
            <!--</div>-->
        <% end %>
        <br>
        <%= link_to 'More casts', '/casts', :style => 'float: right; font-size: 1.1em;'%><br>
    </section>
    

</div>

<!-- likelion -->
<footer>
    <hr>
    <h3>Made by Gil-hyeon & Sang-min</h3>
    <p>Copyright &copy; Likelion 2017</p>
</footer>



<script type="text/javascript">
    // var HOME_PATH = window.HOME_PATH || '.';

    var seoulCenter = new naver.maps.LatLng(37.5665350, 126.9779690); //서울 시청 좌표값(서울 한가운데)
// 지도 기본 위치
    var map = new naver.maps.Map('map', {
        center: seoulCenter,
        zoom: 6,
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        mapTypeControl: true,
        zoomControl: true,
        minZoom: 1,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        }
    });
    
// GPS
    // GPS 이미지 파일 넣는 곳 /https://pbs.twimg.com/profile_images/565254803643592704/KaVxRt4p.png
    var locationBtnHtml = '<img src="<%= image_url('gps.png') %>" style="width: 40px; margin: 5px; border: groove" onclick="getLocation()">';
    var customControl = new naver.maps.CustomControl(locationBtnHtml, {
        position: naver.maps.Position.TOP_LEFT
    });
    customControl.setMap(map);
    
//마커
    var games = new Array();
    var marker = new Array();
    var contentString = new Array();
    var infowindow = new Array();
    
    <% @storeInfo.each do |i| %>
        games[<%= i.id %>] = new naver.maps.LatLng(<%= i.location_lat %>, <%= i.location_lng %>);
        
        var markerOptions = {
            position: games[<%= i.id %>],
            map: map,
            zIndex: 100,
            icon: {
                //마커 url, 마커 이미지 url
                <% if i.game == '볼링' %>
                    url: '<%= image_url("bowling.png") %>', 
                <% elsif i.game == '탁구' %>  
                    url: '<%= image_url("pingpong.png") %>', 
                <% elsif i.game == '야구' %>
                    url: '<%= image_url("baseball.png") %>',
                <% elsif i.game == '요가' %>
                    url: '<%= image_url("yoga.png") %>', 
                <% elsif i.game == '수영' %>
                    url: '<%= image_url("swimming.png") %>', 
                <% elsif i.game == '농구' %>
                    url: '<%= image_url("basketball.png") %>', 
                <% end %>
                size: new naver.maps.Size(100,100),// 마커 사이즈
                scaledSize: new naver.maps.Size(30,38),
                origin: new naver.maps.Point(0, 0), // origin 기본값 (0, 0)
                anchor: new naver.maps.Point(13, 35) // anchor속성은 이미지의 중앙 하단 포인터를 기본값으로 설정
                
            }     
        };
        
        marker[<%= i.id %>] = new naver.maps.Marker(markerOptions);
        
        // 마커 안에 정보 넣기 
        // db에 있는 정보 불러내기 아직 구현 못함
        contentString[<%= i.id %>] = [
            '<div class="iw_inner">',
            '   <h4><%= i.name %></h4>',
            '   <p><%= i.region %> | <%= i.address %><br>',
            '       <img src= "" width="20" height="20" class="thumb" /><br>',
            '       <%= i.game %> &gt; 특별, 광역시청<br>',
            '   </p>',
            '    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">상세 보기</button>',
            '    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">',
            '        <div class="modal-dialog modal-lg" role="document">',
            '            <div class="modal-content">',
            '                하하하',
            '            </div>',
            '        </div>',
            '    </div>',
            '</div>'
        ].join('');
    
        infowindow[<%= i.id %>] = new naver.maps.InfoWindow({
            content: contentString[<%= i.id %>]
        });
    
        naver.maps.Event.addListener(marker[<%= i.id %>], "click", function(e) {
            if (infowindow[<%= i.id %>].getMap()) {
                infowindow[<%= i.id %>].close();
            } else {
                infowindow[<%= i.id %>].open(map, marker[<%= i.id %>]);
                map.setCenter(games[<%= i.id %>]);
            }
        });
        
    <% end %>

// GPS이용하기
    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
    function getLocation() {
        if (navigator.geolocation) {
            
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                
                var locPosition = new naver.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                
                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition, message);
              });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
        
            var locPosition = new naver.maps.LatLng(37.56653501, 126.9779690),    
                message = 'geolocation을 사용할수 없어요'
                
            displayMarker(locPosition, message);
        }
    }
    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition, message) {

        // 마커를 생성합니다
        var gpsMarker = new naver.maps.Marker({  
            map: map, 
            position: locPosition,
            icon: {
                url: 'https://pbs.twimg.com/profile_images/565254803643592704/KaVxRt4p.png',
                size: new naver.maps.Size(25, 34),
                scaledSize: new naver.maps.Size(25, 34),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(12, 34)
            }
        }); 
        
        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;
            
        // 인포윈도우를 생성합니다
        var geoinfowindow = new naver.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        
        // 인포윈도우를 마커위에 표시합니다 
        if (geoinfowindow.getMap()) {
            geoinfowindow.close();
        } else {
            geoinfowindow.open(map, gpsMarker);
            map.setCenter(locPosition);
        }
        
        // geoinfowindow.open(map, gpsMarker);
        
        // 지도 중심좌표를 접속위치로 변경합니다
        // map.setCenter(locPosition);      
    }    
</script>