<!--<header>-->
<div class="main_header">
    <%= render 'home/slideshow' %>
</div>
<!--</header>-->


    <!-- 지도 섹션-->
<div class="upactivity_background">
    <section id="upactivity">
        <%= render 'home/activity' %>
    </section>
    
</div>

    <!-- 소모임(고객참여게시판) 섹션-->
<div class="upclub_background">
    <section id="upclub">
        <%= render 'home/clubpart' %>
        <%#= link_to 'More clubs', '/clubs', :style => 'float: right; font-size: 1.3em;'%>
        <br>
    </section>
</div>

    <!-- 이벤트 게시판 -->
<div class="upevent_background">
    <section id="upevent">
        <%= render 'home/eventpart' %>
        <br>
    </section>
</div>    
    
   <!-- 캐스트 섹션 --> 
<div class="upcast_background">
    <section id="upcast">
        <%= render 'home/castpart' %>
        <br>
    </section>
</div>


<!-- likelion -->
<footer>
    <hr>
    <h3>Made by Gil-hyeon & Sang-min</h3>
    
    <div class="about">
        <a href="/terms">이용약관</a> | <a href="/terms">개인정보취급방침</a>
    </div>
    
    <p>Copyright &copy; Likelion 2017</p>
</footer>

<div class="scroll" style="display:none;">
    <a href="#pagetop" style="text-decoration:none;"><img src="<%= image_url('top.png') %>"></a>
</div>

<script>
    $(document).ready(function(){
    	$('a[href^="/#up"]').on('click',function (e) {
    	    e.preventDefault();
    	    
    	    var target = this.hash;
    	    var $target = $(target);
    
    	    $('html, body').stop().animate({
    	        scrollTop: $target.offset().top - 80
    	    }, 700);
    	});
    });
 
    $(window).scroll(function() {
      $(".scroll").css( "display", "inline");
    });
    $(".scroll").click(function() {
        $('html,body').animate({
            scrollTop: 0 }, 700);
    });
</script>
