<% @casts.each do |cast| %>
    <div>
        <%= cast.id %>
        <%= cast.castTitle %>
        <%= cast.castContent %><br>
        <%#= image_tag cast.cast_image_url.thumb.url %>
        <%= link_to image_tag(cast.cast_image_url.thumb.url), cast_path(cast.id) %>
        <br>
        <%#= link_to '보기', cast_path(cast.id) %> 
        <%= link_to '수정', edit_cast_path(cast.id) %> / 
        <%= link_to '삭제', cast_path(cast.id) , method: 'delete', data: {confirm: "정말 삭제하실 건가요?"} %> 
    </div>
<% end %>
<hr>

<%= link_to '새 글쓰기' , '/casts/cast_new'  %><br>
<%= link_to 'Home', '/' %>