<%= @cast.id %>
<p>
<%= @cast.castTitle %>
</p>
<P>
<%= @cast.castContent %> 
</P><br>
<!--<img src='<%#= @cast.cast_image_url %>'>-->
<%= image_tag @cast.cast_image_url.url %>
<br>

<%= link_to "Back", :back %>