<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  
  <!--fontawesome CDN-->
  <script src="https://use.fontawesome.com/b83c0de3b6.js"></script>
        
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Varela+Round" rel="stylesheet">
  
  
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Ui6rfXo1VGFEiHkcVDDa&callback=initMap"></script>
  
  <!-- https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Ui6rfXo1VGFEiHkcVDDa&submodules=geocoder -->
</head>
<body>

 <%= render 'home/header' %>

 <%= yield %>


</body>
</html>
