<!DOCTYPE html>
<html>
<head>
    <!-------------------------------------------->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106391004-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', 'UA-106391004-1');
    </script>
    <!------------------------------------------->
  <title>Act Now</title>
    
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  
  <!--fontawesome CDN-->
  <script src="https://use.fontawesome.com/b83c0de3b6.js"></script>
        
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Ui6rfXo1VGFEiHkcVDDa&callback=initMap"></script>


  
  <!-- https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Ui6rfXo1VGFEiHkcVDDa&submodules=geocoder -->

  <%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>
  <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
  
  
</head>
<body class= "body" id="uppage">

 <%= render 'home/header' %>

 <%= yield %>

</body>
</html>
